:host {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 5em;
  color: #ff0000;
}

a {
  text-decoration: underline;
  color: #0000ff;
}
