:host {
  display: block;
  height: 100%;
  width: 100%;
}
.loader {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: flex-end;
}
.board {
  display: flex;
  justify-content: center;
  height: 50%;
  margin: 0 20px 20px;
  padding-top: 60px;
}
.inputs, .status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.state-display {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
 }
.turnDisplay {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  text-decoration: underline;
  border-bottom: 1px solid black;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
