:host {
  display: inline-block;

  width: 100%;
  height: 100%;

  vertical-align: middle;
  text-align: center;
}

.piece {
  display: inline-block;

  width: 100%;
  height: 100%;

  user-select: none;
}

.cdk-drag-placeholder {
  display: none;
}
